<main>
    <h2>Log In to View Your MN Brewery Passport!</h2>

    <form action='/login' method='post'>
        <label for='email'>Email: </label>    
        <input type='text' id='email' name="email"><br><br>

        <label for='password'>Password: </label>    
        <input type='password' id='password' name="password"><br><br>

        <input type='submit' value='Submit'>
    </form>

    <br><br>

    <p class="flash-error"><%= flash[:error] %></p>
</main>