<!DOCTYPE html>
<html>
    <head>
        <h1>Log In to View Your MN Brewery Passport!</h1>
    </head>

    <body>
        <form action='/login' method='post'>
        <label for='email'>Email: </label>    
        <input type='text' id='email' name="email"><br>

        <label for='password'>Password: </label>    
        <input type='password' id='password' name="password"><br>

        <input type='submit' value='Submit'>
        </form>
        <br>
        <%= flash[:error] %>
    </body>
<html>