<!DOCTYPE html>
<html>
    <head>
        <h1>Sign Up to Create Your MN Brewery Passport!</h1>
    </head>

    <body>
        <form action='/signup' method='post'>
            <label for='username'>Username: </label>    
            <input type='text' id='username' name="user[username]"><br>

            <label for='email'>Email: </label>    
            <input type='text' id='email' name="user[email]"><br>

            <label for='password'>Password: </label>    
            <input type='password' id='password' name="user[password]"><br>

            <input type='submit' value='Submit'>
        </form>
        <br>
        <%= flash[:error] %>
    </body>
<html>