<nav>
    <a href='/breweries'>Breweries</a>
    <a href='/passport/<%=@user.id%>'>My Passport</a>
    <a href='/passport/<%=@user.id%>/edit'>Edit Passport</a>
    <a href='/logout'>Log Out</a>
</nav>

<main>
    <section class='list'>
        <h2>Explore MN breweries</h2>
        <ol>
            <% Brewery.all.each do |brewery| %>
                <li><a href="/breweries/<%=brewery.id%>"><%= brewery.name %></a></li><br>
            <% end %>
        </ol>
    </section>
</main>