<!DOCTYPE html>
<html>
    <head>
        <h1>Explore the full list of MN breweries</h1>
    </head>

    <body>
        <ol>
            <% @breweries.each do |brewery| %>
                <li><a href="/breweries/<%=brewery.id%>"><%= brewery.name %></a></li><br>
            <% end %>
        </ol>
    </body>
</html>