<main>
    <div class='home'>
        <a class='home-links' href='/login'>Log In</a>
        <a class='home-links' href='/signup'>Sign Up</a>
        <br><br>
        <p class='flash-notice'><%= flash[:notice] %></p>
    </div>
</main>