<main>
    <div class='home'>
        <a class='home-links' href='/login'>Log In</a>
        <a class='home-links' href='/signup'>Sign Up</a>
    </div>
    <p class='flash'><%= flash[:notice] %></p>
</main>