<!DOCTYPE html>
<html>
    <head>
        <h1>Minnesota Brewery Passport</h1>
    </head>

    <body>
        <a href='/login'>Log In</a>
        <a href='/signup'>Sign Up</a>
        <br><br>
        <%= flash[:notice] %>
    </body>
</html>